.modalWrapper {
  .container {
    display: flex;
    flex-grow: 1;
    width: 100%;
    padding: 0 var(--mantine-spacing-md) var(--mantine-spacing-md) var(--mantine-spacing-md);
    position: relative;
  }
  .footer {
    height: 50px;
    padding: var(--mantine-spacing-xs);
    display: flex;
    justify-content: space-between;
    border-top: 1px solid light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-7));
    background-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-9));
  }
}
