.title {
  background-color: var(--mantine-color-gray-2);
  @mixin dark {
    background-color: var(--mantine-color-dark-9);
  }
}
.body {
  @mixin dark {
    background-color: var(--mantine-color-dark-8);
  }
}
