.card {
  background-color: var(--mantine-color-body);
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: var(--mantine-spacing-sm) var(--mantine-spacing-lg);
  border-top: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
}

.title {
  font-family: Outfit, var(--mantine-font-family);
  font-weight: 500;
  line-height: 1;
  font-size: var(--mantine-font-size-sm);
}

@keyframes marquee-progress {
  0% {
    transform: translateX(0);
  }
  100% {
    /* Move 100% of container width + 30% of element width to go fully across */
    transform: translateX(calc(100% + 110%));
  }
}

.progressMarquee{
  animation: marquee-progress 2s linear infinite;
  background-color: var(--mantine-color-blue-5);
}